---
interface Props {
    title: string;
    description?: string;
    image?: string;
}

const { 
    title, 
    description = "Alquileres temporales en Encarnación, Paraguay. Departamentos, Lofts y Quintas con piscina. Ubicación estratégica cerca de la playa y el centro. Reservá directo sin comisiones.",
    image = "/images/og-social.jpg"
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        
        <script is:inline>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-54JXSP7');
        </script>
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        
        <title>{title}</title>
        <meta name="description" content={description} />
        <link rel="canonical" href={canonicalURL} />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
        
        <meta name="theme-color" content="#0F172A" /> 
    </head>
    <body class="bg-white text-slate-900 font-sans antialiased">
        
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54JXSP7"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <slot />
    </body>
</html>